@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}
h2,h1,h3{
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
}
.amazonphoto{
    width: 300px;
}