@media screen and (min-width: 800px) {
  .collapsible {
    display: none;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .content a div {
    display: inline;
    padding: 15px 25px;
  }

  .content {
    padding: 15px 0;
    background-color: #A5A6F3;
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  .nav-item:hover {
    background-color: #FECB34;
  }

  .herodiv {
    width: 960px;
  }

  .articlepreston {
    width: 920px;
  }
 







}