@media screen and (min-width: 500px) {

  .articlepreston {
    width: 690px;
  }
.articlephoto{
  float: right;
  height: 200px;
}

  footer {
    height: 65px;
  }
  .articlepreston p {
    margin-top: -8px;
  }




}