/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Yusei+Magic&display=swap'); */
h2 {
    color: black;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color: #3D348B;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Yusei Magic', sans-serif;
}

main,
footer {
    max-width: 1100px;
    margin: 0 auto;
}

.headlines h2 {
    font-size: 2rem;
}

header img {
    width: 130px;
    height: auto;
}

.headlines {
    display: flex;
    flex-direction: column;
}

.headlines h2 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    color: #FECB34;
}

.hp {
    font-style: italic;
    letter-spacing: 1pt;
    color: #FECB34;
    margin-left: 20px;
    font-size: 1rem;
}

.collapsible {
    background-color: #7678ED;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.preston,
.collapsible:hover {
    background-color: #4A4DE8;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #A5A6F3;
    color: black;
}


.nav-item {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: #FECB34;
    color: black;
}

.content a div {
    display: block;
}

#currentdate {
    display: block;
}

.menuimg {
    width: 40px;
}


.areatittle {
    text-align: center;
}

img {
    max-width: 100%;
}

.herodiv {
    position: relative;
    margin: 10px auto;
    width: 100%;
    height: 300px;
}

.hero-ph img {
    margin: 10px auto;
    background-color: #eee;
    border: 1px solid #333;
    width: 100%;
    height: 250px;
}

.weathersummary {
    position: absolute;
    color: black;
    top: 30px;
    left: 50px;
    background: radial-gradient(white, #FECB34);
    padding: 0 1em;
    box-shadow: 0 0 30px white;
    border-radius: 5%;
}

.weathersummary h3 {
    margin-bottom: -7px;
    margin-top: 10px;
}

.weathersummary p {
    margin: 10px;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
}

.forcastpreston {
    display: none;
}

.table {
    display: none;
}

.articlepreston {
    margin-top: 40px;
    border: 1px solid #3D348B;
    background-color: #EDEDFD;
    padding: 20px;
    display: block;
    margin-top: -20px;
}

.articlepreston p {
    margin-bottom: 0px;
}


#more {
    display: none;
}

#myBtn {
    border: none;
    text-decoration: underline;
    color: #501E01;
    font-size: 1em;
    margin: -50px 0 0 135px;
}

footer {
    background-color: #7678ED;
    height: 90px;
    color: black;
    text-align: center;
}

footer p {
    padding: 10px;
    line-height: 1.5em;
}

#currentdate {
    display: block;
}

.contactinformation {
    background-color: #FED65D;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.littleworld {
    display: inline;
}

.map {
    display: none;

}

.contactinformation h4 {
    margin-bottom: 10px;
    margin-top: 0px;
}

.contactinformation p {
    display: inline;
}

.socialicons img {
    margin: 10px 0;
    /* height: 40px; */
}

.phoneemail {
    margin: 20px 0;
}

.active div {
    background-color: #FECB34;

}

.contactinformation {
    margin: 10px auto;
    margin-bottom: -16px;
}

#pancakes {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    background-color: #FED65D;
    display: block;
    text-align: center;
}


/*Gallery page*/
picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 320px);
    grid-gap:1em;
}

.gallerytittle {
    text-align: center;
}
.g-text-1{
    padding:10px;
    margin-top:0px;
    text-align:center;
}

.gallery-main img{
    height: 250px;
    width:100%; 
}
.gallery-grid div{
    border: 1px solid #3D348B;
}






/* Storm center page */

.stormtittle{
    text-align: center;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 350px;
    /* Form outline */
    padding: 1em;
    border: 2px solid #FECB34;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 350px;
    text-align: left;
    margin-top:10px;
    line-height: 1.3em;
    font-weight: bold;
  }
  
  input, 
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 350px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #3D348B;
    
  }
  
  input:focus, 
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #3D348B;
    
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    margin-left: 190px;
    margin-top: 10px;
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
   
  }
  .danger input{
    width:10px;
    height:10px;
}
.danger label{
    font-weight: normal;
}
form p{
    margin-bottom: -5px;
    font-weight: bold;
}



  /* Thank you page */
  .thankyoutittle{
      text-align: center;
      border: 3px solid #FECB34;
      border-radius: 100px;
      margin: 30px;
      padding:50px;
  }
  .thankyoutittle h2{
      font-size: 2.3em;
  }
  .thankyoutittle p{
      font-size: 1.2em;
  }
  .thankyoutittle h2, .thankyoutittle p{
      margin:5px;
  }
  .thankyoumain{
      height: 250px;
      
  }
 


  /* Home Page */

.hometittle{
    text-align: center;
}
.towndata section{
    border: 2px solid #F35B04;
    background-color: #FED148;
    text-align: center;
    margin:5px;
    padding: 10px 20px 20px 20px;
    
}
.towndata h2{
    font-size: 2em;
   
}
.towndata h3{
    margin-top: -20px;
    padding-bottom: 10px;;
    border-bottom: 2px solid #F35B04;
}
.towndata p{
    margin-top: -10px;
}
.towndata section p:nth-child(5){
    margin-bottom: 25px;
}
/* .towndata section:nth-child(1),
.towndata section:nth-child(3),
.towndata section:nth-child(4),
.towndata section:nth-child(5){
    display: none;

} */
.towndata section img{
    box-shadow: 0px 0px 10px black;
    border-radius: 3px;
    max-width: 80%;
    
}