@media screen and (min-width: 800px) {

  .collapsible {
    display: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .content a div {
    display: inline;
    padding: 15px 25px;
  }

  .content {
    padding: 15px 0;
    background-color: #2E4A4D;
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  .nav-item:hover {
    background-color: #59A9B1;
  }

  .herodiv {
    width: 960px;
  }
  .home-grid{
    display:grid;
    grid-template-columns: 250px 250px 1fr;
}
.outstanding{
  grid-column: 2/3;
  grid-row: 3;
}
.elkhorn{
  grid-column: 1/2;
  grid-row: 3;  
}
.quilting{
  grid-column: 1/3;
  grid-row: 4;
}
.forecast{
  grid-column: 3/4;
  grid-row: 3;
}
.home-right-photo{
  grid-column: 3/4;
  grid-row: 4;
}

}