/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Yusei+Magic&display=swap'); */
h2 {
    color: black;
    font-family: 'Acme', serif;
}

p {
    line-height: 1.5em;
}

header {
    background-color: #ACD4D8;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Yusei Magic', sans-serif;
    background-color: #E3F1F2;
}

main,
footer {
    max-width: 1100px;
    margin: 0 auto;
}

.headlines h2 {
    font-size: 2rem;
}

header img {
    width: 130px;
    height: auto;
}

.headlines {
    display: flex;
    flex-direction: column;
}

.headlines h2 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    color: #2E4A4D;
}

.hp {
    font-style: italic;
    letter-spacing: 1pt;
    color: #2E4A4D;
    margin-left: 20px;
    font-size: 1rem;
}

.logo {
    margin: 5px 0px;
}

.collapsible {
    background-color: #2E4A4D;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.preston,
.collapsible:hover {
    background-color: #2E4A4D;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #3B777D;
    color: black;
}

.nav-item {
    padding: 10px;
    text-align: center;
}

.content a {
    text-decoration: none;
    color: white;
}

.active div {
    background-color: #59A9B1;
    color: #2E4A4D;
    font-weight: bold;

}

.nav-item:hover {
    background-color: #59A9B1;
    color: black;
}

.content a div {
    display: block;
}

#currentdate {
    display: block;
}

.menuimg {
    width: 35px;
}

.areatittle {
    text-align: center;
}

img {
    max-width: 100%;
}

footer {
    background-color: #3B777D;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

footer p:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 10px;
    color: white;
}

.contact-info p {
    margin-top: -25px;
    margin: 10px;


}

.contact-info {
    grid-column: 1/2;
    grid-row: 3/4;
    color: white;
}

.social-icons {
    grid-column: 2/3;
    grid-row: 1/4;
    margin: 25px;
    margin-left: auto;
}

.social-icons a {
    text-decoration: none;
}




/* Home page  */
.herodiv {
    position: relative;
    margin: 10px auto;
    width: 100%;
    height: 300px;
}

.hero-ph img {
    margin: 10px auto;
    border: 1px solid #03564C;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.weathersummary {
    position: absolute;
    color: white;
    top: 30px;
    left: 50px;
    background: radial-gradient(#069D8C, #03564C);
    padding: 0 1em;
    box-shadow: 0 0 30px white;
    border-radius: 5%;
}

.weathersummary h3 {
    margin-bottom: -2px;
    margin-top: 10px;
}

.weathersummary p {
    margin: 10px;
}

.weather-summary hr {
    height: 1px;
    background-color: white;
    border: none;
}

.home-grid {
    display: block;
}

div table {
    border-collapse: collapse;
    border: 2px solid black;
}

section th {
    margin: 0 auto;
    border: 2px solid black;
    height: 30px;
    width: 100px;
    background-color: #ACD4D8;
}

section td {
    margin: 20px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.five-day-header {
    text-align: center;
}

.day {
    background-color: #2E4A4D;
    color: white;
}

p a,
h2 a {
    color: #2E4A4D;
    text-decoration: underline;
    margin: 10px;
    padding: 5px;
}

h2 a {
    line-height: 2em;
}

p a:hover,
h2 a:hover {
    background-color: #2E4A4D;
    color: white;
    border-radius: 5px;
}

.outstanding p,
.outstanding h2,
.elkhorn p,
.elkhorn h2,
.quilting p,
.quilting h2 {
    margin: 20px;
}

.outstanding,
.elkhorn,
.quilting {
    border: 2px solid #2E4A4D;
    box-shadow: 5px 5px 5px #2E4A4D;
    height: 200px;
    width: 200px;
    margin: 15px auto;
    background-color: #D5E9EB;
}

.welcome-home {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
}

.forecast {
    margin: 10px auto;
}

.companies-intro {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.home-right-photo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.learn-more {
    text-align: center;
}

.up-comingevents {
    background-color: #59A9B1;
    border: 2px solid #2E4A4D;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
    height: fit-content;
    padding: 20px;
}

.up-comingevents h2 {
    font-size: 2em;
    margin-top: 0px;
    ;
}

.up-comingevents hr {
    height: 2px;
    background-color: #2E4A4D;
    border: none;
    margin: -20px 20px 0px;
}


/* join page */
.membership-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5em;
}

.membership {
    grid-column: 1/5;
    text-align: center;
}

.non-profit,
.bronze,
.silver,
.gold {
    border: 2px solid #3B777D;
    text-align: center;
    line-height: 2em;
    background-color: #2E4A4D;
    color: white;
}
.non-profit h2,
.bronze h2,
.silver h2,
.gold h2{
    color: white;
    margin-bottom:-20px;
}
.non-profit p,
.bronze p,
.silver p,
.gold p{
    margin-top: -10px;
}
.joinform{
    border: 2px solid #3B777D;
    width: 700px;
    background-color: #ACD4D8;
    margin: 20px auto;
}
.joinform div{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.joinform div:nth-child(3),.joinform div:nth-child(10){
    margin: 10px;
    margin-left: 45px;
    display: block;
}
.joinform input, .joinform textarea{
    width: 600px;
    display: flex;
    justify-content: center;
   
}
.joinform label{
    margin-top: 10px;
}
.joinform textarea{
    height:90px;
}
.joinform select{
    height: 2em;
    width:fit-content;
    margin-top: 10px;

}
.joinform button{
    background-color: #03564C;
    border:none;
    color: #D5E9EB;
    padding:10px;
    border-radius: 5px;
}

.joinform button:hover{
    background-color: #D5E9EB;
    color: #03564C;
    border:none;
}





/* contact page */
.contact-grid{
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-gap: 1em;
}
.list-board{
    grid-column: 2/4;
    grid-row: 1 ;
    text-align: center;
}
iframe{
    grid-column: 1/2;
    grid-row: 1/4;
    margin-top: 30px;
}
.first-board{
    grid-column: 2/3;
    grid-row: 2;
    text-align: center;
}
.second-board{
    grid-column: 3/4;
    grid-row: 2;
    text-align: center;
}
.thrid-board{
    grid-column: 2/4;
    grid-row: 3;
    text-align: center;
    margin-top: -10px;
}

/* thankyou pages */
.thankyou{
    text-align: center;
}