/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Yusei+Magic&display=swap'); */
h2 {
    color: black;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color: #ACD4D8;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Yusei Magic', sans-serif;
    background-color: #E3F1F2;
}

main,
footer {
    max-width: 1100px;
    margin: 0 auto;
}

.headlines h2 {
    font-size: 2rem;
}

header img {
    width: 130px;
    height: auto;
}

.headlines {
    display: flex;
    flex-direction: column;
}

.headlines h2 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    color: #2E4A4D;
}

.hp {
    font-style: italic;
    letter-spacing: 1pt;
    color: #2E4A4D;
    margin-left: 20px;
    font-size: 1rem;
}

.collapsible {
    background-color: #2E4A4D;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.preston,
.collapsible:hover {
    background-color: #2E4A4D;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #3B777D;
    color: black;
}

.nav-item {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: #59A9B1;
    color: black;
}

.content a div {
    display: block;
}

#currentdate {
    display: block;
}

.menuimg {
    width: 40px;
}

.areatittle {
    text-align: center;
}

img {
    max-width: 100%;
}
.active div {
    background-color: #59A9B1;
    color:#2E4A4D;
    font-weight: bold;

}
.herodiv {
    position: relative;
    margin: 10px auto;
    width: 100%;
    height: 300px;
}

.hero-ph img {
    margin: 10px auto;
    background-color: #eee;
    border: 1px solid #333;
    width: 100%;
    height: 250px;
}

.weathersummary {
    position: absolute;
    color: black;
    top: 30px;
    left: 50px;
    background: radial-gradient(white, #FECB34);
    padding: 0 1em;
    box-shadow: 0 0 30px white;
    border-radius: 5%;
}

.weathersummary h3 {
    margin-bottom: -7px;
    margin-top: 10px;
}

.weathersummary p {
    margin: 10px;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
}